In [2]:
import pandas as pd
df = pd.read_csv('customer.csv')
df.sample(5)

    age  gender   review education purchased
37   94    Male  Average        PG       Yes
9    74    Male     Good        UG       Yes
13   57  Female  Average    School        No
21   32    Male  Average        PG        No
23   96  Female     Good    School        No

In [3]:
# here we are applying ordinal encoding on ordinal, gender and label encoding on purchase
df = df.iloc[:,2:]
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size= 0.2)
X_train

     review education
5   Average    School
25     Good    School
16     Poor        UG
32  Average        UG
15     Poor        UG
14     Poor        PG
43     Poor        PG
9      Good        UG
36     Good        UG
39     Poor        PG
48     Good        UG
23     Good    School
3      Good        PG
34  Average    School
18     Good    School
11     Good        UG
17     Poor        UG
21  Average        PG
20  Average    School
31     Poor    School
10     Good        UG
24  Average        PG
26     Poor        PG
29  Average        UG
44  Average        UG
41     Good        PG
8   Average        UG
7      Poor    School
13  Average    School
12     Poor    School
2      Good        PG
0   Average    School
49     Good        UG
22     Poor        PG
19     Poor        PG
37  Average        PG
46     Poor        PG
4   Average        UG
30  Average        UG
35     Poor    School

In [5]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe.fit(X_train)
X_test= oe.transform(X_test)
X_train = oe.transform(X_train) # this will result in array hence we have to convert to dataFrame

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() # here you do not get to choose which value to assign to what
le.fit(y_train)
le.classes_

array(['No', 'Yes'], dtype=object)

In [7]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)
y_train

array([1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1])