In [46]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import seaborn as sns
df = pd.read_csv('titanic.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [47]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  34.5       3      0      0         0
1  47.0       3      1      0         1
2  62.0       2      0      0         0
3  27.0       3      0      0         0
4  22.0       3      1      1         1

In [48]:
df.dropna(inplace=True)
X = df.iloc[:,0:4]
y = df.iloc[:,-1]
lr = LogisticRegression()
np.mean(cross_val_score(lr,X,y,cv= 20,scoring= 'accuracy'))

0.6238970588235293

##### Applying Construction:

In [49]:
X['Family_size'] = X['SibSp'] + X['Parch'] + 1
X.head()

    Age  Pclass  SibSp  Parch  Family_size
0  34.5       3      0      0            1
1  47.0       3      1      0            2
2  62.0       2      0      0            1
3  27.0       3      0      0            1
4  22.0       3      1      1            3

In [50]:
def check(num):
    if num == 1:
        return 0
    elif num>1 and num<=4:
        return 1
    else:
        return 2

In [51]:
X['Family_type'] = X['Family_size'].apply(check)
X.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  34.5       3      0      0            1            0
1  47.0       3      1      0            2            1
2  62.0       2      0      0            1            0
3  27.0       3      0      0            1            0
4  22.0       3      1      1            3            1

In [52]:
X.drop(columns= ['SibSp', 'Parch', 'Family_size'],inplace=True)
X.head()

    Age  Pclass  Family_type
0  34.5       3            0
1  47.0       3            1
2  62.0       2            0
3  27.0       3            0
4  22.0       3            1

In [53]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

0.6056985294117647