In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv('cars.csv')
df.sample(5)

         brand  km_driven    fuel         owner  selling_price
4222    Maruti      38817  Diesel   First Owner         740000
2372      Ford      87237  Diesel  Second Owner         225000
4164  Mahindra     110000  Diesel   First Owner         310000
811       Tata     110000  Diesel  Second Owner         229999
4042   Hyundai     100000  Petrol  Second Owner         150000

In [3]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [6]:
df['brand'].nunique() # do same for all column

32

##### ONE HOT ENCODING USING PANDAS

In [7]:
pd.get_dummies(df, columns= ['fuel','owner']) # pandas does not remember which column is put where that is why
                                              # this approch not suitable for projects

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

#####  K-1 ONE_HOT_ENCODING

In [8]:
pd.get_dummies(df, columns= ['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

##### ONE_HOT_ENCODING WITH SKLEARN 
###### (preffered during projects)

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:4], df.iloc[:,-1])

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop = 'first', dtype= np.int32)
X_train_new = ohe.fit_transform(X_train[['fuel','owner']]).toarray()
X_test_new = ohe.transform(X_test[['fuel','owner']]).toarray()
X_train_new

array([[1, 0, 0, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=int32)

In [32]:
X_train[['brand', 'km_driven']].values # got the array value of missing columns now append both

array([['Nissan', 35000],
       ['Hyundai', 214000],
       ['Honda', 1000],
       ...,
       ['Maruti', 70000],
       ['Nissan', 23000],
       ['Datsun', 4000]], dtype=object)

In [33]:
np.hstack((X_train[['brand', 'km_driven']].values,X_train_new))

array([['Nissan', 35000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 214000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Honda', 1000, 0.0, ..., 0.0, 0.0, 0.0],
       ...,
       ['Maruti', 70000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Nissan', 23000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Datsun', 4000, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)

##### ONE_HOT_ENCODING WITH TOP CATEGORIES

In [46]:
counts = df['brand'].value_counts()
threshold = 100
repl = counts[counts <= threshold].index
pd.get_dummies(df['brand'].replace(repl, 'uncommon'),dtype=np.int32)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,0,1,0,0,0