In [16]:
import pandas as pd
import numpy as np 
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder

In [17]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Species'] = encoder.fit_transform(df['Species'])
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [19]:
df = df.iloc[:, 1:]
new_df = df[df['Species'] != 0][['SepalLengthCm','SepalWidthCm','Species']]
new_df.head()

    SepalLengthCm  SepalWidthCm  Species
50            7.0           3.2        1
51            6.4           3.2        1
52            6.9           3.1        1
53            5.5           2.3        1
54            6.5           2.8        1

In [20]:
X = df.iloc[:,0:2]
y = df.iloc[:, -1]
clf1 = LogisticRegression()
clf2 = RandomForestClassifier()
clf3 = KNeighborsClassifier()

In [21]:
estimators = [('lr',clf1), ('rf',clf2), ('nc',clf3)]
for estimator in estimators:
    x = cross_val_score(estimator[1],X,y,cv=10,scoring='accuracy')
    print(estimator[0],np.round(np.mean(x),2))

lr 0.81
rf 0.72
nc 0.76

In [22]:
from sklearn.ensemble import VotingClassifier

#### Hard Voting:

In [23]:
vc = VotingClassifier(estimators= estimators, voting='hard')
x = cross_val_score(vc, X, y, cv=10, scoring= 'accuracy')
print(np.round(np.mean(x),2))

0.77

#### Soft Voting:

In [24]:
vc1 = VotingClassifier(estimators= estimators, voting= 'soft')
x1 = cross_val_score(vc1, X, y, cv=10, scoring= 'accuracy')
print(np.round(np.mean(x1),2))

0.75